[2015-03-01 20:14] vikasgupta-iphone opened #1 "addIndexes Method"
Please help to use addIndexes() to add already indexed file with current indexed file . Thanks in advance.

[2015-03-01 20:30] msqr commented on #1
Are you referring to the CLucene lucene::index::IndexWriter class? You should post CLucene specific questions to CLucene directly (http://clucene.sourceforge.net/), as that is not part of the BRFullTextSearch API.

[2015-03-07 17:33] hbridge opened #2 "Feature Request: Support Substring Search Term Matching"
Say that there is a document in the index that has a value of:

"This is a document"

I'd like [self.searchService search:query] to return the document if query = @"doc"

Is there a way to do this currently? If not, would it be difficult to add?  I do believe that Lucene supports substring searches, but don't know much about it.

[2015-03-08 22:01] #1 closed, assigned to nobody

[2015-03-08 22:25] msqr commented on #2
Yes you can do prefix-based searches, just add an asterisk (*) at the end of your query. What I frequently do is tokenize the raw search query into words, and then construct a `NSPredicate` query based on the words, sort of like this:

[code]

Here we split the search into two predicates, because a prefix query like doc* does not find the exact word _doc_. So we construct a query that is like "doc

[2015-03-09 15:55] hbridge commented on #2
oh great, thank you for the detailed response!

Henry

On Sun, Mar 8, 2015 at 6:25 PM, Matt Magoffin notifications@github.com
wrote:

[2015-03-09 17:28] #2 closed, assigned to nobody

[2015-05-05 15:12] andrei4002 opened #3 "xcode debugger doesn't work?"
I'm running the SampleCocoaPodsProject and everywhere I'm trying to debug, I can't seem to be able to access local variables in the debugger (if I try to 'po some_local_var'). It gives some 'Couldn't materialize: couldn't get the value of variable --some var name goes here-- : variable not available
Errored out in Execute, couldn't PrepareToExecuteJITExpression' error.

I tried doing a separate pr

[2015-05-06 22:36] msqr commented on #3
The Podfile does indeed set the compiler optimization level to -O1, and the sample project did not override that for debug builds. I pushed 249df43 to address your direct issue, if you pull down the latest it should fix the problem for you.

I need to look at if I can drop the optimization level from the Podfile altogether. That was set because we noticed a lot of strange crashes in CLucene that w

[2015-05-06 22:36] #3 closed, assigned to msqr

[2015-07-24 13:32] voluntas88-xsolve opened #4 "Integration via CocoaPods"
Hi! If there is using command 'use_frameworks!' in Podfile, BRFullTextSearch will not compile and huge amount of errors will appear (at least I faced such case). Removing that command from Podfile fixed me the issue. Maybe it will be good idea put this info to readme.
Thanks.

[2015-07-31 05:33] msqr commented on #4
Thanks for the note. I have updated the README as suggested. I am not able to investigate making the Pod usable as a dynamic framework at the moment, so welcome any pull requests that can address this issue.

[2015-07-31 05:33] #4 closed, assigned to nobody

[2015-08-10 16:19] frankai opened #5 "Snippets"
Hello!

Congratulations, this is an excellent iOS port of CLucene, we are using it in our projects.

Any clue about how do we extract small snippets of texts from each match?

Thanks in advance,

Frankai

[2015-08-10 22:39] msqr commented on #5
Hello Frankai,

Thank you, I'm glad you find the package useful. Can you be more specific about what you're trying to achieve? As long as you are using the `BRIndexableStorageTypeStore` flag for your indexed data, the full original text is available to you in each match.

-- m@

[2015-08-10 22:54] frankai commented on #5
Hi!

Yes, we have the full original text in each match, but I just want to present the results with an extract of the words around each match (ie: Google results, a text fragment containing your search terms in bold).

I can process each result and search again the full original text on my own, but sometimes the user search query is not the same that CLucene uses internally, for example, if we use

[2015-08-10 23:00] msqr commented on #5
Ah, yes I thought that might be what you were trying to achieve. Lucene calls that "highlighting" and it does support that, but the BRFullTextSearch API itself does not. This has long been a desired feature, and there is even [a branch](https://github.com/Blue-Rocket/BRFullTextSearch/tree/feature/highlighter) that was created to work on it, but it hasn't really got off the ground yet.

[2015-08-11 21:45] frankai commented on #5
Ok, thanks, I'll try it.

[2015-08-11 21:45] #5 closed, assigned to nobody

[2015-09-02 15:09] jingx23 opened #6 "Memory consumption"
First off all thank you for the nice API around CLucene, probably you can help me out to analyze a memory consuption problem while using your lib to index a lot of strings.
For example:

[code]

The memory grows over 200MB for indexing this and after indexing the memory stays at 185MB.
Looks like the objects are staying in the memory when they written to the index? Is there a posibillity to flush

[2015-09-02 18:47] msqr commented on #6
Hello! You're first building up all 100001 documents in memory, and then adding them all to the index in one go, so I would expect the memory use to grow significantly. For such a large number of index updates, I would recommend using the batch API, and within your loop inserting an `@autorelease` block. Something like this:

[code]

Hopefully that keeps the overall memory use more constant for yo

[2015-09-03 09:53] jingx23 commented on #6
Thank you for the hint and the fast response. Works like a charm 👍.

[2015-09-03 18:45] msqr commented on #6
Great! I'm glad I could help.

[2015-09-03 18:45] #6 closed, assigned to nobody

[2016-02-08 17:51] mrtj opened #7 "What are the possible values of indexObjectType?"
Hi I am trying to implement a search feature with your search engine, but I do not really understand what I supposed to return as indexObjectType in my custom indexable object implementing BRSearchObjectType protocol. I saw that the default BRSimpleIndexable implementation returns a question mark ('?') and in your Core Data example the StickyNote implementation returns an 'n' character. Could you

[2016-02-08 20:20] phildow opened #8 "[Request] Mac OS Targets"
First of all thank you for providing an Objective-C wrapper around Lucene! This is excellent.

I'd like to use the static framework in a project that targets both Mac OS and iOS. Right now it's building for iOS only. I suspect there is nothing in the code that is iOS specific and that building for Mac OS is a matter of creating a new target with different build settings while ensuring everything e

[2016-02-08 20:55] msqr commented on #7
They are only used to differentiate object types, and can have arbitrary values defined by the application using BRFullTextSearch (`BRSearchObjectType` is defined as a `char`). [BRIndexable](http://cocoadocs.org/docsets/BRFullTextSearch/1.0.10/Protocols/BRIndexable.html) does talk about how index documents are uniquely identified by the combination of their object type and their identifier. Some a

[2016-02-08 21:16] msqr commented on #8
I'm glad you find it useful!

I don't have the ability to try to get an OS X build configured at the moment, so if you can get a PR together that would be great. I remember seeing [a fork some time ago](https://github.com/ovlach/BRFullTextSearch/commit/983fec3aef78f8c2955cf687873ffd2423952493) with comments about supporting OS X. It looks like the only change made there was to the Podspec, however

[2016-02-09 10:13] mrtj commented on #7
Thank you, now it is clear!

[2016-02-09 18:13] phildow commented on #8
Ok, I think I'm getting close. Xcode is kicking me in the butt though. I've got a Mac OS framework build but I'm having trouble getting the header files to all copy into the right place. I notice you're using a shell script to do that for the iOS build, so I'm going to try to duplicate that. I then get what I think are header search path problems when I use the Mac OS framework in a Mac OS sample

[2016-02-10 22:54] msqr commented on #8
That's great! I'll have a look at the PR you've created as soon as I can.

[2016-02-16 15:43] mikecsh commented on #8
Perfect timing - I came to say the same thing! This would be extremely useful on OS X as well.

[2016-02-16 21:04] phildow commented on #8
@mikecsh I got a pull request in. Have a look at the macos-framework branch on https://github.com/phildow/BRFullTextSearch and the sample project at https://github.com/phildow/brfulltextsearch-macos-swift-example

[2016-02-16 21:05] mikecsh commented on #8
Thanks very much @phildow , will do!

[2016-02-16 21:18] msqr commented on #8
Hi @mikecsh it would be very helpful if you could test out @phildow's branch and provide any feedback on using it.

[2016-02-16 21:19] mikecsh commented on #8
@msqr I'm having a look at it now and will report back here with how I get on

[2016-02-16 21:52] phildow commented on #8
@mikecsh The only thing to note is that you want to Archive the application to produce the release build, instead of build it, which produces the debug build. Of course you could edit the scheme to produce the release build as well.

If you figure out how to get a sample application using the Mac OS framework into the workspace that'd be great too. I couldn't get Xcode to recognize the framework's

[2016-02-17 01:52] keehun opened #10 "Performance?"
Hi,

I'm looking to use BRFullTextSearch for my upcoming musician's dictionary app. What's the performance like? The HTML table of all the entries are about 27MB. I've yet to clean/import/etc into CoreData, but it would be nice to have some idea if BRFullTextSearch will be able to handle the amount of entries. I particularly liked seeing [some numbers/graphs here](https://github.com/matehat/MHText

[2016-02-17 02:16] msqr commented on #10
Hi keehun,

I don't have any nice charts like those you refer to, sorry. I can say that I've used BRFullTextSearch in many production iOS apps, going back as far as the iPad 1, and performance has not been an issue. 27MB of HTML does not sound like it would present any problems to me. Even if indexing took a bit of time, searches should remain pretty fast.

That being said, BRFullTextSearch is a p

[2016-02-17 02:20] keehun commented on #10
Hi msqr,

Thank you for that response! I've read a lot of good things about CLucene, and so I'll probably go ahead and explore BRFullTextSearch first.

If I pre-indexed a CoreData database and included that in the binary [as outlined here](https://www.objc.io/issues/4-core-data/importing-large-data-sets-into-core-data/), the user shouldn't have to wait at all, right?

Thanks
keehun

[2016-02-17 02:28] msqr commented on #10
Sure, you could generate the Lucene database and then include that in your application. It will be a directory with a set of files. In fact you could even generate the Lucene database with Java Lucene, you would just need to use version 2.3.2 to match what CLucene expects.

[2016-02-17 02:49] keehun commented on #10
Sorry for my very novice questions, but based on your answer, I infer that:
- If I [generated the Lucene database](http://www.avajava.com/tutorials/lessons/how-do-i-use-lucene-to-index-and-search-text-files.html?page=1) (which I've now gathered is a multi-file-based system) and imported/supplied it correctly to `CLuceneSearchService`'s `initWithIndexPath:` initializer, then it would bypass all of

[2016-02-17 02:54] msqr commented on #10
Yes, that should work (again, you must create a version 2.3.2 database), and it would have nothing to do with Core Data.

If you need to associate index documents (i.e. search results) to Core Data entities, you'd need some sort of identifier associated with both the documents and the entities, so given a search result you could load the appropriate entity from Core Data.

[2016-02-17 02:59] keehun commented on #10
I just downloaded the 2.3.2 jar and am attempting to create my first index!

This won't be necessary at the moment, but that makes perfect sense. Is there a way to store metadata in the Lucene index? Or would I just have metadata within the files that are indexed? Say I have a lot of words to be indexed, and I want Lucene to know which language they're in. Perhaps I can make the first line of ever

[2016-02-17 03:11] msqr commented on #10
No worries. An index document in Lucene is like a dictionary or key/value store. You index values for associated keys. So any metadata you want to associate with the document you simply add as additional keys to that document. Conceptually you might have an index document that resembles:

[code]

There are many helpful tutorials on Lucene around the web as it is a popular open source search engine

[2016-02-17 03:21] keehun commented on #10
Ok. After reading some Lucene-based articles/stack-overflow, I think I'm starting to finally understand this. At first I wondered why my full paths of the files were showing up in the generated index files. Then I realized that the Java code I was using was the one telling Lucene to store that data.

I get it conceptually now--I'm making a Lucene Document object and I can feed it all sorts of data

[2016-02-17 03:29] msqr commented on #10
You're welcome. I'll close out this ticket then. Feel free to open new ones if you run into issues.

[2016-02-17 03:29] #10 closed, assigned to nobody

[2016-02-25 00:15] jpmhouston opened #11 "sorting by multiple fields"
I don't know much about this Pod, or `CLucene`, but I'm faced with either adding multi-field sorting or abandoning this for another solution. Before I waste too much time, can someone say whether this would this work?

In `CLuceneSearchService` changing the `sortBy` argument in the internal `searchWithQuery:sortBy:sortType:ascending:` from an `NSString` to an `NSArray`, and its implementation like

[2016-02-25 04:30] msqr commented on #11
Thanks for your interest in the project. As you discovered when looking at the CLucene API, it does support sorting on multiple fields. Updating the BRFTS API to support this has been an outstanding task in the back of my mind for some time, actually. To that end, check out the [multi-sort](/Blue-Rocket/BRFullTextSearch/tree/feature/multi-sort) branch, where I've added two new methods:

[code]

Th

[2016-02-25 20:03] jpmhouston commented on #11
Thanks, I didn't see that branch. I'll investigate whether we can work within Lucene's limitations you mentioned, and if so, then indeed I'll be exercising this branch. Would you like me to email my feedback to you directly @msqr, or post it in this thread?

[2016-02-25 20:57] jpmhouston opened #12 ""Multiple build commands" warning for header files"
Can something be done to avoid these warnings? We're wanting to turn on "Treat Warnings as Errors" and this is now our only blocker to that.

[code]

My predecessor created a seemingly drastic work-around to prevent these warnings, adding the following to the Podfile. I'm less comfortable with this approach, however, and hope there's a better solution.

[code]

[2016-02-25 21:58] msqr commented on #11
Great! Go ahead and post any feedback on this thread if you can.

[2016-02-25 22:59] msqr commented on #12
CLucene has multiple files in different directories named the same, and when building in Xcode all headers are copied flat into the build dir, causing this error. There are [open tickets on CocoaPods](https://github.com/CocoaPods/CocoaPods/issues/4496) for this problem. I have not found a way around this issue myself, but welcome any PR that can find a way to address it.

You could  build `BRFullT

[2016-02-27 05:50] keehun opened #13 "Searching in Swift?"
Hi,

Been trying to get search to work in Swift. I've spent the last week or so figuring out how to scrape a lot of HTML and have about 220,000 documents in Lucene. Searching with Java works really well. Exactly what I need.

Now I'm trying to bring it to iOS with Swift. I've got the framework set up correctly, and the CLuceneSearchService class initializes fine.

[code]

When this code runs, it a

[2016-02-27 06:10] keehun commented on #13
Ok--I think it has to do with the default field names that BRFullTextSearch has set. There's no easy way to change this if using CocoaPods--will recompile with a dependent project and use my own field keys and see if that'll work.

[2016-02-27 07:12] keehun commented on #13
The problem actually was that the built-in search code was using the wrong analyzer for my indexes. It seems really weird that I have to full-on edit the Framework to change these settings. Can they be changed anywhere in my code and leave the library as-is? The snowball analyzer is hard-coded into `[CLuceneSearchService defaultAnalyzer]` and `search:` has `defaultAnalyzer:` hard-coded in, so I'm

[2016-02-27 07:12] #13 closed, assigned to nobody

[2016-02-28 18:34] msqr commented on #13
Hi @keehun,

Some parts of this API have not been exposed for extensibility or configurability yet, as you have discovered. This is more from time constraints rather than oversight. In your case, the `defaultAnalyzer` method can be overridden by subclassing `CLuceneSearchService` to return the `Analyzer` instance you'd like to use.

The `generalTextFields` internal array _should_ be a configurable

[2016-02-28 18:43] msqr commented on #13
@keehun I forgot to also mention, you can set

[code]

to **YES** to turn off stemming, which makes the `Analyzer` more similar to using a plain `StopAnalyzer`, that is a `StandardTokenizer` along with a `LowercaseFilter` and `StopFilter`.

[2016-02-28 18:44] #7 closed, assigned to nobody

[2016-03-10 03:39] msqr commented on #12
Closing issue; feel free to re-open if you find a way to work around the issue.

[2016-03-10 03:39] #12 closed, assigned to nobody

[2016-03-10 03:41] msqr commented on #11
Hi @jpmhouston did you have any luck using the _multi-sort_ branch? I am likely to merge this in for the next release, but would be interested to hear if you tried it out.

[2016-03-10 03:42] msqr commented on #8
Hi @mikecsh did you have any luck with the Mac OS target from @phildow's branch?

[2016-03-10 06:58] lkoskela opened #15 "Crashes (possibly) due to concurrent access to bulkUpdateIndex and search"
Hi,

I'm getting crashes (EXC_CRASH with either SIGABRT or SIGSEGV or an EXC_BAD_ACCESS if the Xcode debugger is connected) from BRFullTextSearch inside `lucene::search::PrefixQuery::rewrite(lucene::index::IndexReader *)` or `lucene::index::SegmentTermDocs::SegmentTermDocs(lucene::index::SegmentReader const *)` and I have a hunch that it might relate to threads and concurrent modification of the s

[2016-03-10 07:46] lkoskela commented on #15
To clarify, `resetSearcher` is not being executed every time these crashes happen. Sometimes it's just the `search:` and `bulkUpdateIndex:queue:finished:`.

I've also tried switching between `bulkUpdateIndex:queue:finished:` and `bulkUpdateIndexAndWait:error:` but the crashes seem to be almost identical in each case.

[2016-03-10 08:27] mikecsh commented on #8
@msqr unfortunately I got sidetracked on this. I still plan to look at it but it probably won't be for a couple of weeks..

[2016-03-10 08:31] jpmhouston commented on #11
Didn't get a chance yet, and now the project is being shelved & I'm moving on so it looks like I won't ever. :^(

[2016-03-10 20:40] msqr commented on #15
It sounds like you have a slightly different use case than tested for, with searches executing outside the main thread. I'd have to look a bit more closely at the code to be sure, but I'm guessing that `CLuceneSearchService` might be expecting _searches_ to be executing on the _main thread_ while updates run from any other thread. That is how the example apps are set up, and how I've always used i

[2016-03-10 20:42] msqr commented on #8
No worries @mikecsh, thanks for the update.

[2016-03-10 20:44] msqr commented on #11
Ah well, I have a few of unit tests in there at least, so I'll merge it in. Thanks!

[2016-03-10 20:44] #11 closed, assigned to nobody

[2016-03-10 20:58] lkoskela commented on #15
That does sound plausible. I'll put together a simplified project that exhibits the crash.

[2016-03-10 23:55] lkoskela commented on #15
Here's what I came up with: https://github.com/lkoskela/BRFullTextSearch-ThreadingSample

It's not as simple as I hoped but it does eventually trigger the crash if you start the app in iOS Simulator and let it run for a minute or two. It generates random additions, removals and searches to an index. You can also tap on the view to trigger a search.

[2016-03-11 08:00] lkoskela commented on #15
Commits bd9733c and 9c65e85 seem to fix the crash for me! I can't reproduce it anymore and previously I managed to reproduce it within seconds. Thanks!

[2016-03-11 18:44] msqr commented on #15
Glad to hear! I've merged the fixes in for the next release.

[2016-03-11 18:44] #15 closed, assigned to nobody

[2016-03-26 23:36] keehun opened #16 "Scoring & Exact Matches"
Sometimes, exact matches don't show up as the first result. Is there a way to configure BRFullTextSearch/Lucene to make sure that exact matches show up as the first result? Sometimes it's the first one and sometimes not.

[2016-03-28 18:31] msqr commented on #16
Can you provide an example test case? By default Lucene is sorting by relevance, and "exact match" can be different from what you expect, for example when stemming is enabled. Different document matches might end up with the same score.

You might also find it useful to use a tool like [Luke](http://www.getopt.org/luke/) (you can get an [old version](http://www.getopt.org/luke/luke-0.8.1/lukeall-0

[2016-03-29 15:40] AJ9UNiDAYS opened #17 "'CLucene/analysis/AnalysisHeader.h' file not found - Swift Project"
Tried using BRFullTextSearch in a simple sample Swift project and got the following error:

![BRFullTextSearch](http://i.imgur.com/U94dtbs.png)

Seems like there is a public header file issue, which does get resolved if I comment out `use_frameworks!` of my Podfile, but this means I can't use it within my current Swift application.

Is it possible to use BRFullTextSearch in Swift?

Sample repo can

[2016-03-29 15:52] AJ9UNiDAYS commented on #17
Closing after seeing:

`Note: the use_frameworks! option is not supported, see #4. Any pull requests to allow for building as a dynamic framework are very welcome!`

[2016-03-29 15:52] #17 closed, assigned to nobody

[2016-04-27 13:19] dsanghan commented on #8
@phildow Fork worked great for my OSX project. Much thanks!

[2016-05-05 07:45] msqr commented on #8
Thanks @dsanghan. I've started merging this PR, along with setting up OS X Cocoapod support. I'm working on an OS X sample project as well. This work is currently in the [feature/osx](/Blue-Rocket/BRFullTextSearch/tree/feature/osx) branch.

[2016-05-17 23:22] msqr commented on #8
This work has been merged into the [develop](/Blue-Rocket/BRFullTextSearch/tree/develop) branch and will be included in the 1.1.1 release.

[2016-05-17 23:22] #8 closed, assigned to nobody

[2016-05-30 20:52] hudaniel opened #18 ""No segments* file found in" directory"
I keep running into this issue. I copied the example usage exactly and ran into this exception from CLucene

[code]

Is there some permission I'm not doing right? I even tried:

[code]

Instead of the default one in the example usage

[2016-05-30 21:12] msqr commented on #18
Can you check the full path of the directory getting passed to CLucene, and then see if you don't have permission to create that directory, or files in that directory?

[2016-05-30 21:17] hudaniel commented on #18
So the default one is:

[code]

Do I have to do anything to enable permissions to create this directory? Also, the sample projects run perfectly fine (after updating the Podfile). I checked that the Sample Projects produce a directory that is similar.

[2016-05-30 21:20] hudaniel commented on #18
I confirmed that I have the right permissions to edit the `lucene.idx` directory.

[2016-05-30 21:30] msqr commented on #18
That exception is thrown when the Lucene index has not been created yet. Are you seeing that exception bubble all the way up to your app, or do you have a C++ exception break point set in the debugger?

[2016-05-30 21:37] hudaniel commented on #18
Ah it's caused by the All Exceptions break point firing in Xcode even though this exception could be ignored. I guess I should throw this exception out. Thanks for looking into this for me.

[2016-05-30 21:39] msqr commented on #18
CLucene throws quite a few C++ exceptions during the normal flow of operation, so yes many of them can be ignored. Glad I could help!

[2016-05-30 21:39] #18 closed, assigned to nobody

[2016-06-13 07:32] dsanghan opened #19 "Index corruption"
Is there an easy way to detect if the index file is corrupted? We're seeing a very small proportion of our users have a power/disk failure and on restarting, the index file becomes unreadable and they can't get back into the app since the app crashes on

`_searchService = [[CLuceneSearchService alloc] initWithIndexPath:[self searchServicePath]];`

[2016-06-15 23:57] msqr commented on #19
Is the crash caused by an uncaught exception, by chance? I was imagining if so, the exception could be caught, and then you could choose to delete the index and re-create it.

[2016-07-16 06:45] dsanghan commented on #19
I was already handling the exception, but I haven't seen it happen in the last month so I'll just close it out. Thanks!

[2016-07-16 06:45] #19 closed, assigned to nobody

[2016-11-23 19:59] gfzabarino opened #20 "Crash with custom analyzer and empty stop word filter"
Hi, first of all, thanks for making this awesome project! It's exactly what I needed.

In order to adjust it to my app's needs, I had to make a similar implementation of the default analyzer, and use a `KeywordTokenizer` instead of a `StandardTokenizer`, because I have some codes that have leading numbers (1 digit) and those numbers were being discarded when indexing. `KeywordTokenizer` makes it w

[2016-11-29 13:47] lkoskela opened #21 "SEGV_ACCERR from [BRSimpleIndexable .cxx_destruct]"
We're using BRFullTextSearch version 1.1.1.

Would you have an idea of why we might be experiencing crashes like the one below? We can't reproduce this locally and can't see what might be the cause – maybe we've been using the API wrong and have just been lucky so far...

Exception Codes: SEGV_ACCERR at 0x18
Crashed Thread:  7

0   libsystem_malloc.dylib               0x00000001822c3314 szone_free

[2016-11-29 19:41] msqr opened #22 "Update to BRCLucene pod"
By moving the CLucene subspecs into a top-level `BRCLucene` pod the CLucene code can more easily adapt, such as [other forks](https://github.com/Blue-Rocket/clucene/pull/1).

[2016-11-29 21:56] msqr commented on #22
Fixed for 2.0.0-beta1.

[2016-11-29 21:56] #22 closed, assigned to nobody

[2016-11-29 22:08] msqr commented on #20
I haven't experienced the same issue you're facing, unfortunately. I can say from my experience of working with the CLucene code base is that you must investigate quite carefully the pointer ownership semantics of every object you instantiate. Some CLucene APIs take ownership of passed in pointers, some do not. That may not be what you're facing, of course!

[2016-11-29 22:19] msqr commented on #21
Hmm, on the surface I'm not spotting anything obvious. When you mention that `- (NSDictionary *)indexFieldsDictionary` _leaks a reference_ — what do you mean? It doesn't look like a memory leak to me (it simply returns a reference to the internal dictionary). The `populateDocument:withObject:` method of `CLuceneSearchService` calls that and stores a strong local reference to the object while proce

[2016-11-30 05:20] lkoskela commented on #21
Oh, right. By "leaking a reference" I only meant that the pointer to NSDictionary escapes so other code might be accessing it, not a memory leak.

We don't cancel the index updates as such but we're doing index searches through the same NSOperationQueue, canceling pending searches, and using the NSOperationQueue as a priority queue to make sure that searches always go first and index operations wa

[2016-11-30 07:11] msqr commented on #21
Ah thanks for the clarification. So CLuceneSearchService does supporting [searching and indexing from multiple threads](/Blue-Rocket/BRFullTextSearch/blob/1.1.1/BRFullTextSearch/CLuceneSearchService.h#L17-L22) well. All update operations are handled on an internal serial queue, while simultaneous searches see the committed results available at the moment they execute. This is basically the design

[2017-01-14 06:31] dsanghan opened #23 "Crash on SegmentMerger"
I'm seeing this crash very sporadically since updating to 2.0.0-beta1. Any clues as to whats causing this?

[code]

[2017-02-08 20:38] msqr commented on #23
Sorry for the delay in response; I've been away for a time. I don't have any clues to this specific crash, sorry. Do the crashes go away if you revert to the `1.1.1` or earlier release?

Looking back at the differences between `1.1.1` and `2.0.0-beta1` the CLucene source has not changed, but it is linked against `libc++` instead of `libstdc++` now (Blue-Rocket/clucene@24eb25f).

If you have any mo

[2017-04-11 23:06] msqr commented on #16
Closing from lack of discussion.

[2017-04-11 23:06] #16 closed, assigned to nobody

[2017-04-11 23:07] msqr commented on #20
Closing from lack of discussion.

[2017-04-11 23:07] #20 closed, assigned to nobody

[2017-04-11 23:07] msqr commented on #21
Closing from lack of discussion.

[2017-04-11 23:07] #21 closed, assigned to nobody

[2017-04-11 23:07] msqr commented on #23
Closing from lack of discussion.

[2017-04-11 23:07] #23 closed, assigned to nobody

[2017-04-11 23:10] gfzabarino commented on #20
Just to give some closure to this, I haven't touched my code since I created this issue, that is, I never added the `StopFilter` back. By doing that I never experienced another crash. Unfortunately I can't tell if the issue is still happening when using it, nor have a fix for it.

[2017-04-11 23:12] msqr commented on #20
Thanks for the feedback.

[2017-05-29 10:13] mikecsh commented on #8
A very late and probably now unnecessary response - but just to say this is working flawlessly in my macOS target now - thank you!

[2017-07-07 20:54] gfzabarino opened #24 "Migration to use BRCLucene question"
How come we have 4f9ea38 (and its later merge to master) if the CLucene code is now in a different pod/project? Looks like the Pods folder was versioned which doesn't follow CocoaPods best practices.

[2017-07-23 23:15] msqr commented on #24
Hi Gian, I'm afraid I don't quite understand your question. What exactly do you see that you think should be different or is causing problems?

[2017-07-23 23:47] gfzabarino commented on #24
Hi @msqr, I don't think it's going to improve the functionality in any way, but I meant regarding code versioning, I'm used to see projects that have defined the dependencies of pods in the podspec, and the an example project that has a Podfile to let people clone the repository being able to download the dependencies by executing `pod install` on the example project. I believe including BRCLucene

[2017-07-24 01:47] msqr commented on #24
The `BRCLucene` split can be traced back to https://github.com/Blue-Rocket/clucene/pull/1, as a way for people using `BRFullTextSearch` a way to customize the underlying CLucene used. So this project now depends on `BRCLucene` to compile and that is why it is included. The raw `clucene` code used to be included in this project via a git submodule, so that has now been removed. Basically, that subm

[2017-07-24 16:08] gfzabarino commented on #24
Perfectly understood, and I believe the taken approach is correct.

Yes it does. What I'm saying is, primarly, dependencies shouldn't be versioned in client projects (not even in libraries).

As I said before, the suggested approach to handle dependencies is to declare them in the podspec, have a Podfile and an example project, and have users install them by running `pod install`. That should be t

[2017-07-24 23:10] msqr commented on #24
Ah ok, I understand what you mean, thanks for explaining. I personally prefer having the `Pods` and `Podfile.lock` files added to source control, because development is easier (especially when switching branches). It does add "noise" to this repo, as you mention, but I believe when you do a `pod install` you only get the files included in the podspec, not all the files in the repo. Meaning, if in

[2017-08-04 08:20] rabehssera opened #25 "Match in multiple properties"
Hello

Is it possible to do a search in multiple properties at once ? For example, if my Class has a Title and a Description, can I search in the title and the description in one query ?

And is it possible to "filter" my results to "all the words were found" ?
And can I define a list of words that I don't want to be searched (like "the")

Thanks

[2017-08-05 23:05] msqr commented on #25
Yes you can achieve what you outline. The underlying search engine is [CLucene](http://clucene.sourceforge.net/), and if you use the `NSString` based query methods on `BRSearchService` ([like this](https://github.com/Blue-Rocket/BRFullTextSearch/blob/046a53ef34d4021916b7cc770c0b4f5d3511581d/BRFullTextSearch/BRSearchService.h#L271-L280)) the syntax is similar to the [Java Lucene 2.x query parser sy

[2017-09-08 05:52] #25 closed, assigned to nobody

[2017-10-09 10:50] ha-hamed opened #26 "Partial finds on searching"
This method of querying can be quite useful when constructing a query out of user-supplied query text. For example, you could support prefix based queries (for example, searching for ca* to match cat), how can I do this? Thanks in advance.

[2017-10-09 15:13] OxidBurn commented on #26
Hello, team.
Have the same question as reporter. Any ideas for it?

[2017-10-10 11:59] ha-hamed commented on #26
@OxidBurn in the meantime, would you have any idea to go about it?

[2017-10-11 00:40] msqr commented on #26
The [README](https://github.com/Blue-Rocket/BRFullTextSearch#predicate-queries) contains an example of searching for `ca*` to using predicate based queries. If you're using the string-based query methods, you can simply search for the string `ca*` (this is simply passed to the CLucene query parser).

In the README predicate query example, the `NSBeginsWithPredicateOperatorType` performs prefix-bas

[2017-10-11 05:44] ha-hamed commented on #26
@msqr thanks for your message, as you can see below in my code, I already use `NSBeginsWithPredicateOperatorType` and is not working for me when I perform prefix-based matching search.

    func predicteForSearch(withQery query:String) -> NSCompoundPredicate {

        var ValueExpression:NSExpression! = nil

        if ValueExpression == nil {
            ValueExpression = NSExpression(forKeyPath

[2017-10-11 21:10] msqr commented on #26
It's hard for me to know what you're not seeing that you expect to see, because I don't know what you're indexing and adding to the search index. From this code sample, in theory the prefix matching will be utilized and I haven't experienced problems with that myself. I should add that the predicate types `NSLikePredicateOperatorType` and `NSMatchesPredicateOperatorType` both produce parsed query

[2017-10-11 22:35] ha-hamed commented on #26
@msqr Thank you for your response, I have used Luke tool as you mentioned to further debug and examine my situation. This is what I noticed: When I pass the lucene index that is created by BRFullTextSearch and pass the query `v:contro*` I get search result. Now what I have noticed, is when I pass the print out of the description of my search result object (from the search services on Xcode) and tr

[2017-10-12 01:28] msqr commented on #26
Those `\n` newline characters in the query look odd; I don't think the output of the `description` method can be used directly as a Lucene query. I'd expect the query to be more like `v:contro v:Contro*`. The second `v:contro` I believe would be eliminated if you dropped the `NSMatchesPredicateOperatorType` predicate from your code.

Does it make any difference in Luke if you search for `v:contro

[2017-10-12 07:34] hamededini commented on #26
@msqr This

[2017-10-12 08:26] ha-hamed commented on #26
@msqr After some investigation and thanks to your reply, figure what was causing the issues:

**1. Fix the tokens query array (the fix is mentioned below)
2. For prefix queries need to be in lowercase as you mentioned otherwise it would not return any results.**

The output of the description method can not be used directly as a Lucene query. It was not eliminated if I dropped  `NSMatchesPredicate

[2017-10-12 20:59] msqr commented on #26
Yes, the `*` should not be added when using predicate based queries, that is simply the query parser syntax for representing prefix-based searches when you use the string-based query methods.

Does this mean you are seeing the expected results now?

[2017-10-12 22:25] ha-hamed commented on #26
@msqr good to know, just wanted to clear it out.

**Yes**, the expected results are shown. Thank you for the support.

[2017-10-12 22:26] msqr commented on #26
Excellent! Glad to know it is sorted now.

[2017-10-12 22:26] #26 closed, assigned to msqr

[2017-10-12 22:30] wmjesstaylor commented on #26
Haha - good pun!

On Thu, Oct 12, 2017 at 3:26 PM, Matt Magoffin <notifications@github.com>
wrote:

--
*Wm Jess Taylor*
CEO & Founder
*Blue Rocket*
*Mobile is our Mission*
Tel: 415.412.4675 | Skype: wmjesstaylor
233 Sansome Street, 11th Floor
San Francisco, CA 94104
www.bluerocket.us

*Follow us on:*
LinkedIn <http://www.linkedin.com/company/bluerocketinc>
Twitter <https://twitter.com/BlueRocketIn

[2017-10-27 22:33] msqr commented on #24
Hi @gfzabarino I wondered if this old discussion is finished for you?

[2017-10-28 04:49] gfzabarino commented on #24
Yes, definitely, thanks for asking. I thought it was a mistake but since it’s something made in purpose I believe is good.

[2017-10-28 06:50] msqr commented on #24
Great! I'll close the issue then :)

[2017-10-28 06:50] #24 closed, assigned to nobody

[2017-12-13 22:19] mikecsh opened #27 "Fails to Build under Xcode's New Build System"
I think this is worth noting despite the fact it's based on a beta version of Xcode.

The BRFullTextSearchMacOS framework fails to build under Xcode 9.2 beta's experimental new build system. It complains that the nodes _FastCharStreamer.h, Scorer.h, and libstemmer.h are produced by multiple commands.

This is reproducible by downloading the latest version of master, opening it in Xcode 9.2b, switc

[2018-12-06 00:34] andrewhoyer opened #28 "Cannot compile with XCode 10.1 due to libstdc++ deprecation."
On moving to XCode 10.1 from version 9, this can no longer be compiled as part of a project. Apparently, the libstdc++ library isn't being included as of this release.

Is there a chance of BRFullTextSearch getting an update to bring it to where it is compatible with XCode 10.1?

[2018-12-06 18:02] msqr commented on #28
Have you tried the [2.0.0-beta1](/Blue-Rocket/BRFullTextSearch/releases/tag/2.0.0-beta1) release? That release switched to `libc++` and might compile for you.

[2018-12-06 18:05] msqr commented on #27
Hey @mikecsh sorry about the radio silence on this issue. I have not been involved with maintaining this project for a while now, and I'm afraid I don't have any solutions to offer. Perhaps someone else out there could say if there is a work-around?

[2018-12-06 18:06] mikecsh commented on #27
Hi @msqr, thanks for your comment! No worries, I wasn't able to find a solution to this so have switched to an alternative for FTS. Thanks for all your work on BRFTS in the past though, it was a very nice solution!

[2018-12-06 18:08] msqr commented on #27
Ah, ok! Sorry I couldn't be more helpful. I'll close this issue then.

[2018-12-06 18:08] #27 closed, assigned to nobody

[2019-05-23 02:07] msqr commented on #28
Closing as abandoned.

[2019-05-23 02:07] #28 closed, assigned to nobody

[2019-07-17 04:32] CaseJnr opened #29 "Multiple commands produce _FastCharStream.h"
I am receiving the following error when building a project with this pod installed.

-1: Multiple commands produce 'Build/Products/Debug-iphonesimulator/BRFullTextSearch/BRFullTextSearch.framework/Headers/_FastCharStream.h':

1) Target 'BRFullTextSearch' (project 'Pods') has copy command from
 'Pods/BRFullTextSearch/clucene/src/core/CLucene/queryParser/_FastCharStream.h' to
  '/Build/Products/Debu

[2019-07-19 04:15] msqr commented on #29
I haven't been involved with this project for some time now, and unfortunately I don't have any fixes to offer. Your problem seems similar to #27. Did you try out the 2.0.0-beta1 release? I wonder if that, and thus the [CLucene](https://github.com/Blue-Rocket/CLucene) pod, also has the same issue.

[2019-07-20 16:06] SureshBalusu opened #30 "SharedHeader.h:57:10: fatal error: 'cstddef' file not found"
Unable to build project, used pod BRFullTextSearch. Please let me know how to proceed further

[2019-07-22 07:42] SureshBalusu commented on #30
Solved by using s.dependency "BRFullTextSearch", "~> 2.0.0-beta1" in pod spec
But getting below error "libc++abi.dylib: terminating with uncaught exception of type CLuceneError"

Below is the snippet
NSFileManager *filemgr = [NSFileManager defaultManager];
    NSString *bundleRoot = [[NSBundle mainBundle] bundlePath];
    NSArray *dirContents = [filemgr contentsOfDirectoryAtPath:bundleRoot error:n

[2019-07-22 08:20] msqr commented on #30
I'm glad you made some progress using the 2.0 beta. I can't quite tell what your actual issue is, you might want to catch C++ exceptions in the debugger and see what's going on.

I'm not sure if it is related to you issue, but I notice you are indexing full HTML strings, which means HTML tags will most likely end up in your index as well, which might not be what you want. I think  often you would

[2019-07-22 09:23] SureshBalusu commented on #30
But when I run the same in sample "SampleCocoaPodsProject" it was working fine. If I want to use the same pod how do I integrate it & what are the things that needs to be updated in pod file or podspec file